
@font-face {
   font-family:'Georgia';
   src: url('Georgia Bold.eot');
  src: url('Georgia Bold.eot?#iefix') format('embedded-opentype'),
     url('Georgia Bold.woff2') format('woff2'),
     url('Georgia Bold.woff') format('woff'),
     url('Georgia Bold.ttf') format('truetype'),
     url('Georgia Bold.svg#Georgia Bold') format('svg');
   font-weight: 700;
   font-style: normal;
   font-stretch: normal;
   unicode-range: U+0020-F00D;
}

@font-face {
   font-family:'Georgia';
   src: url('Georgia Bold.eot');
  src: url('Georgia Bold.eot?#iefix') format('embedded-opentype'),
     url('Georgia Bold.woff2') format('woff2'),
     url('Georgia Bold.woff') format('woff'),
     url('Georgia Bold.ttf') format('truetype'),
     url('Georgia Bold.svg#Georgia Bold') format('svg');
   font-weight: 700;
   font-style: normal;
   font-stretch: normal;
   unicode-range: U+0020-F00D;
}

@font-face {
   font-family:'Georgia';
   src: url('Georgia Italic.eot');
  src: url('Georgia Italic.eot?#iefix') format('embedded-opentype'),
     url('Georgia Italic.woff2') format('woff2'),
     url('Georgia Italic.woff') format('woff'),
     url('Georgia Italic.ttf') format('truetype'),
     url('Georgia Italic.svg#Georgia Italic') format('svg');
   font-weight: 400;
   font-style: italic;
   font-stretch: normal;
   unicode-range: U+0020-F00D;
}

@font-face {
   font-family:'Georgia';
   src: url('Georgia Italic.eot');
  src: url('Georgia Italic.eot?#iefix') format('embedded-opentype'),
     url('Georgia Italic.woff2') format('woff2'),
     url('Georgia Italic.woff') format('woff'),
     url('Georgia Italic.ttf') format('truetype'),
     url('Georgia Italic.svg#Georgia Italic') format('svg');
   font-weight: 400;
   font-style: italic;
   font-stretch: normal;
   unicode-range: U+0020-F00D;
}

@font-face {
   font-family:'Georgia';
   src: url('Georgia.eot');
  src: url('Georgia.eot?#iefix') format('embedded-opentype'),
     url('Georgia.woff2') format('woff2'),
     url('Georgia.woff') format('woff'),
     url('Georgia.ttf') format('truetype'),
     url('Georgia.svg#Georgia') format('svg');
   font-weight: 400;
   font-style: normal;
   font-stretch: normal;
   unicode-range: U+0020-F00D;
}

@font-face {
   font-family:'Georgia';
   src: url('Georgia.eot');
  src: url('Georgia.eot?#iefix') format('embedded-opentype'),
     url('Georgia.woff2') format('woff2'),
     url('Georgia.woff') format('woff'),
     url('Georgia.ttf') format('truetype'),
     url('Georgia.svg#Georgia') format('svg');
   font-weight: 400;
   font-style: normal;
   font-stretch: normal;
   unicode-range: U+0020-F00D;
}
@font-face {
   font-family:'Arial';
   src: url('Arial Italic.eot');
  src: url('Arial Italic.eot?#iefix') format('embedded-opentype'),
     url('Arial Italic.woff2') format('woff2'),
     url('Arial Italic.woff') format('woff'),
     url('Arial Italic.ttf') format('truetype'),
     url('Arial Italic.svg#Arial Italic') format('svg');
   font-weight: 400;
   font-style: italic;
   font-stretch: normal;
   unicode-range: U+0020-02DC;
}

@font-face {
   font-family:'Arial';
   src: url('Arial Italic.eot');
  src: url('Arial Italic.eot?#iefix') format('embedded-opentype'),
     url('Arial Italic.woff2') format('woff2'),
     url('Arial Italic.woff') format('woff'),
     url('Arial Italic.ttf') format('truetype'),
     url('Arial Italic.svg#Arial Italic') format('svg');
   font-weight: 400;
   font-style: italic;
   font-stretch: normal;
   unicode-range: U+0020-02DC;
}

@font-face {
   font-family:'Arial';
   src: url('Arial.eot');
  src: url('Arial.eot?#iefix') format('embedded-opentype'),
     url('Arial.woff2') format('woff2'),
     url('Arial.woff') format('woff'),
     url('Arial.ttf') format('truetype'),
     url('Arial.svg#Arial') format('svg');
   font-weight: 400;
   font-style: normal;
   font-stretch: normal;
   unicode-range: U+0020-02DC;
}

@font-face {
   font-family:'Arial';
   src: url('Arial.eot');
  src: url('Arial.eot?#iefix') format('embedded-opentype'),
     url('Arial.woff2') format('woff2'),
     url('Arial.woff') format('woff'),
     url('Arial.ttf') format('truetype'),
     url('Arial.svg#Arial') format('svg');
   font-weight: 400;
   font-style: normal;
   font-stretch: normal;
   unicode-range: U+0020-02DC;
}